<nav class="navbar header-navbar pcoded-header" >
    <div class="navbar-wrapper">
        <div class="navbar-logo">
            <a routerLink="['/']">
                <img class="img-fluid" src="assets/images/logo-tdv.png" alt="Theme-Logo" />
            </a>
        </div>
        <div class="navbar-container container-fluid">
            <div>
                <ul class="nav-left">
                    <li *ngIf="isLoggedIn(); else notLoggedIn">
                        <a class="main-search morphsearch-search" [routerLink]="['/cadastrar']">
                            <i class="fa fa-plus"> cadastrar</i>
                        </a>
                    </li>
                </ul>
                <ul class="nav-left">
                    <li *ngIf="isLoggedIn(); else notLoggedIn">
                        <a class="main-search morphsearch-search" href="#">
                            <i class="fa fa-search"> consultar</i>
                        </a>
                    </li>
                </ul>
                <ul class="nav-right">
                    <li *ngIf="isLoggedIn(); else notLoggedIn" class="user-profile header-notification">
                        <a>
                            <img src="assets/images/user.png" alt="User-Profile-Image">
                            <span>{{user().usuario.codigo.trim()}}</span>
                            <i class="ti-angle-down"></i>
                        </a>
                        <ul class="show-notification profile-notification">
                            <li>
                                <i class="ti-settings">{{user().usuario.nome.trim()}}</i> 
                            </li>
                        </ul>
                        <a>
                            <a [routerLink]="['/login']" (click)="logout()">Sair</a>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>