.header-navbar .navbar-wrapper {
    background-color: #ffa500;
}

.img-fluid{
    height: 40px;
}

.header-navbar .navbar-wrapper .navbar-container .nav-left a, .header-navbar .navbar-wrapper .navbar-container .nav-right a {
    color: #ffff;
}
