<section class="content login-content" style="margin: 10% auto">
  <div class="login-logo">
       <b>TDV</b> | Login
  </div>
  <div class="col-xs-12 col-sm-offset-3 col-sm-6 login-box-body">
  <p class="login-box-msg">Por favor, efetue o login para continuar</p>
  <form [formGroup]="loginForm">
      <tdv-input-container>
          <input type="text" formControlName="codigo" 
          class="form-control" placeholder="usuario">
      </tdv-input-container>
  </form>
  <div class="row">
      <div class="col-xs-offset-8 col-xs-4">
        <button type="submit" (click)="login()" [disabled]="loginForm.invalid" class="btn btn-primary btn-block btn-flat">Entrar</button>
      </div>
  </div>
  </div>
</section>