<div class="page-body">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Cadastrar OS</h5>
        </div>
        <div class="card-block">
            <form [formGroup]="cadastroForm" novaliddate>
                <div class="container">
                  <div class="row">
                    <div class="form-group col-md-6">
                      <tdv-radio [options]="capacidades"
                        formControlName="capacidade" label="Capacidade:"></tdv-radio>
                    </div>
                    <div class="form-group col-md-6">
                      <tdv-radio [options]="tipoManutencoes" label="Tipo Manutenção:"
                      formControlName="tipoManutencao" ></tdv-radio>
                    </div>
                  </div>
                  <div class="row">
                      <div class="form-group col-md-6">
                        <tdv-input-container errorMessage="" label="Frota:" >
                            <input class="form-control" placeholder="Frota" 
                            formControlName="frota" autocomplete="off" type="text">
                        </tdv-input-container>
                      </div>
                      <div class="form-group col-md-6">
                          <tdv-input-container errorMessage="" label="Carreta:">
                              <input class="form-control" placeholder="Carreta" 
                              formControlName="carreta" autocomplete="off" type="text">
                          </tdv-input-container>
                        </div>
                  </div>
                  <div class="row">
                      <div class="form-group col-md-6">
                        <tdv-input-container errorMessage="digite apenas número" label="KM:">
                            <input class="form-control" placeholder="KM" 
                            formControlName="km" autocomplete="off" type="text">
                        </tdv-input-container>
                      </div>
                      <div class="form-group col-md-6">
                          <tdv-input-container errorMessage="" label="Local:">
                            <select class="form-control" formControlName="local">
                              <option value="CAVALO">CAVALO</option>
                              <option value="CARRETA">CARRETA</option>
                            </select>
                          </tdv-input-container>
                      </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-6">
                      <tdv-input-container errorMessage="" label="Abertura OS:">
                          <input class="form-control"  formControlName="dataAberturaOs" 
                          autocomplete="off" type="date">
                      </tdv-input-container>
                    </div>
                    <div class="form-group col-md-6">
                        <tdv-input-container errorMessage="" label="Fechamento OS:">
                            <input class="form-control" formControlName="dataFechamentoOs" 
                            autocomplete="off" type="date">
                        </tdv-input-container>
                    </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-6">
                    <tdv-input-container errorMessage="" label="Previsao:">
                      <input class="form-control" formControlName="dataPrevisao" 
                      autocomplete="off" type="date">
                    </tdv-input-container>
                  </div>
                </div>
                </div>
            </form>
            <div class="row">
              <div class="col-xs-12">
                <button (click)="cadastrarOs(cadastroForm.value)" class="btn btn-success pull-right" 
                        [disabled]="!cadastroForm.valid">
                        <i class="fa fa-credit-card"></i> Cadastrar OS
                </button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>