<div class="card-block tab-icon">
    <div class="row">
        <div class="col-lg-12 col-xl-6">
            <ul class="nav nav-tabs md-tabs " role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#home7" role="tab">
                      <i class="fa fa-file"></i>Cadastro OS
                    </a>
                    <div class="slide"></div>
                </li>
            </ul>
            <div class="tab-content card-block">
                <div class="tab-pane active" id="home7" role="tabpanel">
                    <tdv-crete-os></tdv-crete-os>
                </div>
            </div>
        </div>
    </div>
</div>