<div class="wrapper">
  
    <tdv-header></tdv-header>
  
      <div class="container">
        <router-outlet></router-outlet>
      </div>
  
    <!-- snackbar deve ser aqui -->
    <tdv-snackbar></tdv-snackbar>
  
    <footer class="main-footer">
      <div class="container">
        <div class="pull-right hidden-xs">
          <b>Version</b> 1.0.0
        </div>
        <strong>TDV</strong> Angular Application
      </div>
    </footer>
  </div>