label{
    font-size: 20px;
}

.iCheck-helper{
    position: absolute; 
    top: 0%; 
    left: 0%; 
    display: block;
    width: 100%; 
    height: 100%; 
    margin: 0px; 
    padding: 0px; 
    background: rgb(255, 255, 255); 
    border: 0px; 
    opacity: 0;
}

.iradio_flat-red{
    position: relative;
}