<label>{{label}}</label>
<div *ngFor="let option of options">
 <!-- <label>
    <div (click)="setValue(option.value)" class="iradio_flat-red"
         [class.checked]="option.value === value" aria-checked="false" aria-disabled="false">
        <ins class="iCheck-helper"></ins>
    </div>  
    {{option.label}}
  </label>  -->
  <div class="radio-inline">
    <label>
        <input type="radio" name="{{label}}" (click)="setValue(option.value)">
        <i class="helper"></i>{{option.label}}
    </label>
  </div>
</div>