<div class="pcoded-content">
  <div class="pcoded-inner-content">
      <div class="main-body">
          <div class="page-wrapper">
              <div class="page-header">
              </div>
              <div class="page-body">
                  <div class="row">
                      <div class="col-sm-12">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>